<app-navbar-c></app-navbar-c>
<div class="input-group" style="width: 70%;margin: 0 auto;margin-top: 20px;">
  <input type="search" [(ngModel)]="s_text" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
</div>
<div *ngFor="let i of s_array">
<div class="card bg-dark text-white" style="width: 60%;margin: 0 auto;margin-top: 20px;" >
  <img class="card-img" src={{i.image}} alt="Card image" style="height: 300px;">
  <div class="card-img-overlay" (click)="gotores(i._id)">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.description}}</p>
    <p class="card-text">{{i.foodCategory}}</p>
  </div>
</div>
</div>
