
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(../../assets/alaksiej-carankievic-XXigdb3WMmA-unsplash.jpg);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign Up</h3>
			      		</div>
			      	</div>
							<form action="#" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" >UserName</label>
                                    <input type="text" class="form-control" placeholder="Enter your name" required>
                                </div>
			      		<div class="form-group mb-3">
			      			<label class="label" >Email</label>
			      			<input type="email" class="form-control" placeholder="Email@example.com" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label">Password</label>
		              <input type="password" class="form-control" placeholder="Password" required>
		            </div>
                    <div class="form-group mb-3">
		            	<label class="label" >Confirm Password</label>
		              <input type="password" class="form-control" placeholder="Confirm Password" required>
		            </div>
                        <div ngbDropdown  class="dropdown">
                            <button ngbDropdownToggle  class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              as
                            </button>
                            <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a ngbDropdownItem  class="dropdown-item" href="#">user</a>
                              <a ngbDropdownItem  class="dropdown-item" href="#">vendor</a>
                            </div>
                          </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3" style="background-color: rgb(0, 0, 0);">Sign Up</button>
		            </div>
		          </form>
		          <p class="text-center">Already a member? <a data-toggle="tab" href="javascript:void(0)" routerLink="/login">Sign In</a></p>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>


	</body>
</html>

